node-red/flows.json
[{"id":"94e5129.e89f7f","type":"tab","label":"Presence","disabled":true,"info":""},{"id":"d850b3c0.d6805","type":"tab","label":"Esps to Domoticz","disabled":true,"info":""},{"id":"8daa1cbe.47c34","type":"tab","label":"GHome notifications","disabled":false,"info":""},{"id":"c065bfa3.d910c","type":"tab","label":"Flow 1"},{"id":"b76392b5.0ee2c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"37405d16.b7beb2","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"61dcb07.f9baf5","type":"googlehome-config-node","z":"","ipaddress":"192.168.1.27","language":"en"},{"id":"a04484a2.5b5118","type":"server","z":"","name":"Home Assistant","url":"http://homeassistant:8123","pass":"93Wg65E5juPQw@y2JVqv3kE@"},{"id":"83c9d373.65c0c","type":"mqtt in","z":"d850b3c0.d6805","name":"","topic":"esps/#","qos":"2","broker":"37405d16.b7beb2","x":90,"y":60,"wires":[["bc3f84e5.d69bc8"]]},{"id":"9dab809.7c0188","type":"debug","z":"d850b3c0.d6805","name":"","active":false,"console":"false","complete":"true","x":690,"y":220,"wires":[]},{"id":"f659935b.971b9","type":"json","z":"d850b3c0.d6805","name":"","pretty":false,"x":470,"y":60,"wires":[["4157ecba.a0d144"]]},{"id":"65e8553c.77c11c","type":"mqtt out","z":"d850b3c0.d6805","name":"","topic":"domoticz/in","qos":"","retain":"","broker":"37405d16.b7beb2","x":710,"y":280,"wires":[]},{"id":"bc3f84e5.d69bc8","type":"function","z":"d850b3c0.d6805","name":"Filter only for sensor data","func":"if(msg.topic === \"esps/in/LWT\")\n{\n    return;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["f659935b.971b9"]]},{"id":"680732b6.f6455c","type":"http request","z":"d850b3c0.d6805","name":"HTTP request to Domoticz","method":"GET","ret":"txt","url":"","tls":"","x":200,"y":220,"wires":[["55872082.469ab"]]},{"id":"4157ecba.a0d144","type":"template","z":"d850b3c0.d6805","name":"Construct domoticz URL","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://domoticz:8080/json.htm?type=command&param=udevice&idx={{payload.idx}}&nvalue={{payload.nvalue}}&svalue={{payload.svalue}}&rssi={{payload.RSSI}}","output":"str","x":670,"y":60,"wires":[["680732b6.f6455c"]]},{"id":"c823f77d.2f7968","type":"function","z":"d850b3c0.d6805","name":"Filter errors","func":"if(msg.payload.status === \"OK\")\n{\n    return;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["9dab809.7c0188"]]},{"id":"55872082.469ab","type":"json","z":"d850b3c0.d6805","name":"","pretty":false,"x":390,"y":220,"wires":[["c823f77d.2f7968"]]},{"id":"7893f683.1b2ba8","type":"mqtt in","z":"8daa1cbe.47c34","name":"","topic":"ghome/notification","qos":"2","broker":"37405d16.b7beb2","x":227.10000610351562,"y":176,"wires":[["747aa2ae.a15b2c","74bedee5.5afde"]]},{"id":"747aa2ae.a15b2c","type":"googlehome-notify","z":"8daa1cbe.47c34","server":"61dcb07.f9baf5","name":"","x":480,"y":180,"wires":[]},{"id":"74bedee5.5afde","type":"debug","z":"8daa1cbe.47c34","name":"","active":false,"console":"false","complete":"false","x":404.10003662109375,"y":274.8000183105469,"wires":[]},{"id":"b2961fdd.68d93","type":"mqtt in","z":"c065bfa3.d910c","name":"","topic":"#","qos":"2","broker":"37405d16.b7beb2","x":154.10000610351562,"y":121,"wires":[["7797cddd.a7e274"]]},{"id":"7797cddd.a7e274","type":"debug","z":"c065bfa3.d910c","name":"","active":false,"console":"false","complete":"false","x":450,"y":120,"wires":[]},{"id":"65f2a1a6.bd84a","type":"poll-state","z":"94e5129.e89f7f","name":"Kees iOS","server":"a04484a2.5b5118","updateinterval":"10","outputinitially":true,"outputonchanged":false,"entity_id":"device_tracker.iphonexsvankees","x":80,"y":80,"wires":[["5624104.b078ef","166c27a.912b0d8"]]},{"id":"aa2200ac.50284","type":"debug","z":"94e5129.e89f7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":140,"wires":[]},{"id":"fb5332bd.6c541","type":"poll-state","z":"94e5129.e89f7f","name":"Kees Unifi","server":"a04484a2.5b5118","updateinterval":"10","outputinitially":true,"outputonchanged":false,"entity_id":"device_tracker.iphonexsvankees","x":80,"y":200,"wires":[["4cee01fa.caf11","5624104.b078ef"]]},{"id":"5624104.b078ef","type":"function","z":"94e5129.e89f7f","name":"Convert to bool","func":"if(msg.payload.data.state == \"home\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["7d759d5f.35ef84"]]},{"id":"7d759d5f.35ef84","type":"BooleanLogic","z":"94e5129.e89f7f","name":"Home?","operation":"OR","inputCount":2,"topic":"result","x":440,"y":140,"wires":[["166c27a.912b0d8","4cee01fa.caf11"]]},{"id":"4a12da54.0714f4","type":"api-call-service","z":"94e5129.e89f7f","name":"Set status Home","server":"a04484a2.5b5118","service_domain":"device_tracker","service":"see","data":"","mergecontext":"","x":860,"y":200,"wires":[["aa2200ac.50284"]]},{"id":"fcdeb628.aa1788","type":"api-call-service","z":"94e5129.e89f7f","name":"Set status Not Home","server":"a04484a2.5b5118","service_domain":"device_tracker","service":"see","data":"","mergecontext":"","x":880,"y":80,"wires":[["aa2200ac.50284"]]},{"id":"866dbfd2.d28df","type":"poll-state","z":"94e5129.e89f7f","name":"Inge iOS","server":"a04484a2.5b5118","updateinterval":"10","outputinitially":true,"outputonchanged":false,"entity_id":"device_tracker.iphone7vaninge","x":80,"y":280,"wires":[["b2d9a7cd.074eb8","fba9f147.86d41"]]},{"id":"5267ebb6.7b26d4","type":"debug","z":"94e5129.e89f7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":340,"wires":[]},{"id":"1b0bec9e.463663","type":"poll-state","z":"94e5129.e89f7f","name":"Inge Unifi","server":"a04484a2.5b5118","updateinterval":"10","outputinitially":true,"outputonchanged":false,"entity_id":"device_tracker.iphone7vaninge","x":80,"y":400,"wires":[["b2d9a7cd.074eb8","d1a9a4a3.58c498"]]},{"id":"b2d9a7cd.074eb8","type":"function","z":"94e5129.e89f7f","name":"Convert to bool","func":"if(msg.payload.data.state == \"home\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["8566ab2f.5c2e18"]]},{"id":"8566ab2f.5c2e18","type":"BooleanLogic","z":"94e5129.e89f7f","name":"Home?","operation":"OR","inputCount":2,"topic":"result","x":440,"y":340,"wires":[["fba9f147.86d41","d1a9a4a3.58c498"]]},{"id":"29c6a161.f5a66e","type":"api-call-service","z":"94e5129.e89f7f","name":"Set status Home","server":"a04484a2.5b5118","service_domain":"device_tracker","service":"see","data":"{\"dev_id\": \"inge\", \"location_name\":\"home\"}","mergecontext":"","x":860,"y":400,"wires":[["5267ebb6.7b26d4"]]},{"id":"9396dbc8.3ae148","type":"api-call-service","z":"94e5129.e89f7f","name":"Set status Not Home","server":"a04484a2.5b5118","service_domain":"device_tracker","service":"see","data":"","mergecontext":"","x":880,"y":280,"wires":[["5267ebb6.7b26d4"]]},{"id":"d1a9a4a3.58c498","type":"traffic","z":"94e5129.e89f7f","name":"","property_allow":"payload","filter_allow":"true","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"false","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":400,"wires":[["6de81d66.476984"]]},{"id":"fba9f147.86d41","type":"traffic","z":"94e5129.e89f7f","name":"","property_allow":"payload","filter_allow":"false","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"true","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":280,"wires":[["384c0430.11657c"]]},{"id":"3767818f.a5e6fe","type":"comment","z":"b76392b5.0ee2c","name":"STOP configuration","info":"STOP message is configured to be also sent to the COP","x":290,"y":340,"wires":[]},{"id":"7ddf916a.dbb57","type":"traffic","z":"b76392b5.0ee2c","name":"Traffic sample","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"send_stop":true,"default_start":false,"x":426.5,"y":166,"wires":[["ed241bb2.72a708"]]},{"id":"5002f3ec.79dd0c","type":"inject","z":"b76392b5.0ee2c","name":"","topic":"I'm a car","payload":"Cheers !","payloadType":"str","repeat":"2","crontab":"","once":true,"x":211.5,"y":162,"wires":[["7ddf916a.dbb57"]]},{"id":"e1ed329e.edf56","type":"inject","z":"b76392b5.0ee2c","name":"GO","topic":"","payload":"GO","payloadType":"str","repeat":"","crontab":"","once":false,"x":181.5,"y":218,"wires":[["7ddf916a.dbb57"]]},{"id":"d9eac96d.d0f798","type":"inject","z":"b76392b5.0ee2c","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":181.5,"y":259,"wires":[["7ddf916a.dbb57"]]},{"id":"ed241bb2.72a708","type":"debug","z":"b76392b5.0ee2c","name":"COP","active":false,"console":"false","complete":"payload","x":594.5,"y":207,"wires":[]},{"id":"ac8a325b.ab524","type":"comment","z":"b76392b5.0ee2c","name":"Traffic Light sample","info":"","x":251.5,"y":89,"wires":[]},{"id":"384c0430.11657c","type":"template","z":"94e5129.e89f7f","name":"Extract GPS","field":"payload.data","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"dev_id\": \"inge\",\n    \"gps\": [{{payload.data.attributes.latitude}},{{payload.data.attributes.longitude}}]\n}","output":"json","x":690,"y":280,"wires":[["9396dbc8.3ae148"]]},{"id":"4cee01fa.caf11","type":"traffic","z":"94e5129.e89f7f","name":"","property_allow":"payload","filter_allow":"true","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"false","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":200,"wires":[["961266b5.4d4558"]]},{"id":"166c27a.912b0d8","type":"traffic","z":"94e5129.e89f7f","name":"","property_allow":"payload","filter_allow":"false","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"true","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":80,"wires":[["9f42fa0e.5e70c8"]]},{"id":"9f42fa0e.5e70c8","type":"template","z":"94e5129.e89f7f","name":"Extract GPS","field":"payload.data","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"dev_id\": \"kees\",\n    \"gps\": [{{payload.data.attributes.latitude}},{{payload.data.attributes.longitude}}]\n}","output":"json","x":690,"y":80,"wires":[["fcdeb628.aa1788"]]},{"id":"961266b5.4d4558","type":"template","z":"94e5129.e89f7f","name":"Set payload","field":"payload.data","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"dev_id\": \"kees\",\n    \"location_name\": \"home\"\n}","output":"json","x":690,"y":200,"wires":[["4a12da54.0714f4"]]},{"id":"6de81d66.476984","type":"template","z":"94e5129.e89f7f","name":"Set payload","field":"payload.data","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"dev_id\": \"inge\",\n    \"location_name\": \"home\"\n}","output":"json","x":690,"y":400,"wires":[["29c6a161.f5a66e"]]}]